<html>
{% include "header.html" %}

<body>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="award_box_title">正在消费顾客列表</div>
            <!--<div class="award_box_content">
                <table cellspacing="2" cellpadding="0" class="tab-add" id="tab-color">
                  <tr>
                    <th width="5%">桌号</th>
                    <th width="15%">开始时间</th>
                    <th width="5%">人数</th>
                    <th width="50%">顾客</th>
                    <th width="25%">收到红包</th>
                  </tr>

                  {% for session in session_list %}
                  <tr class="table_new_h">
                    <td class="color_b">{{ session.table.index_table }}</td>
                    <td class="color_b">{{ session.begin_time|date:"Y-n-j H:i" }}</td>
                    <td class="color_b">{{ session.consumer_number }}</td>
                    <td class="color_a">
                        {% for consumer in  session.consumers %}
                        <a href="{% url 'consumer_detail' %}?open_id={{ consumer.open_id }}" target="mainFrame">
                        <span class="table_new_head"><img src="{{ consumer.picture }}" align="absmiddle"></span>
                        </a>
                        {% endfor %}
                    </td>
                    <td class="color_a">
                        {{session.rcv_bonus.count}}个&nbsp
                        <a href="{% url 'session_detail' %}?table_index={{ session.table.index_table }}" target="mainFrame">
                            <font size=3.2  color='gray'>查看</font>
                        </a>
                    </td>
                  </tr>
                  {% endfor %}

                </table>
            </div>-->
            <div class="admin_guanli_list admin_guanli_w1000">
            	<div class="admin_guanli_list_tit">
                	<ul>
                    	<li class="admin_guanli_w106">桌号</li>
                    	<li>时间</li>
                        <li class="admin_guanli_w106">人数</li>
                        <li class="admin_guanli_w460">顾客</li>
                        <li class="admin_guanli_w130">收到的红包</li>
                    </ul>
                </div>
                <div class="admin_guanli_list_content">
                	<ul>
                    	{% for session in session_list %}
                        <li>
                            <h4 class="w106">{{ session.table.index_table }}</h4>
                            <time>{{ session.begin_time|date:"Y-n-j H:i" }}</time>
                            <h4 class="w106">{{ session.person_num }}</h4>
                            <p class="w461">
                            	{% for consumer in  session.consumers %}
                                <a href="{% url 'consumer_detail' %}?open_id={{ consumer.open_id }}" target="mainFrame">
                                <span class="table_new_head_t2"><img src="{{ consumer.picture }}" align="absmiddle"></span>
                                </a>
                                {% endfor %}
                            </p>
                            <span class="w133"><font class="color_g">{{session.rcv_bonus.count}}个</font>&nbsp;<a href="{% url 'session_detail' %}?table_index={{ session.table.index_table }}" target="mainFrame">查看</a></span>
                        </li>
                        {% endfor %}
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<script language="JavaScript">
var TbRow = document.getElementById("tab-color");
if (TbRow != null)
{
for (var i=0;i<TbRow.rows.length ;i++ )
{
if (TbRow.rows[i].rowIndex%2==1)
{
TbRow.rows[i].style.backgroundColor="#ffffff";
}
else
{
TbRow.rows[i].style.backgroundColor="#f7f7f4";
}
}
}
</script>    
</article>
</body>

</html>
