<html>
{% include "header.html" %}

<body>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="award_box_title">正在消费顾客列表</div>
            <div class="award_box_content">
                <table cellspacing="2" cellpadding="0" class="tab-add" id="tab-color">
                  <tr>
                    <th width="10%">桌号</th>
                    <th width="15%">开始时间</th>
                    <th width="60%">顾客</th>
                    <th width="10%">人数</th>
                  </tr>

                  {% for info in info_list %}
                  <tr class="table_new_h">
                    <td class="color_b">{{ info.table.index_table }}号桌</td>
                    <td class="color_b">{{ info.time|date:"Y-n-j H:i" }}</td>
                    <td class="color_a">
                        {% for consumer in  info.consumers %}
                        <a href="{% url 'consumer_detail' %}?open_id={{ consumer.open_id }}" target="mainFrame">
                        <span class="table_new_head"><img src="{{ consumer.picture }}" align="absmiddle"></span>
                        </a>
                        {% endfor %}
                    </td>
                    <td class="color_b">{{ info.consumer_number }}</td>
                  </tr>
                  {% endfor %}

                </table>
            </div>
        </div>
    </section>
<script language="JavaScript">
var TbRow = document.getElementById("tab-color");
if (TbRow != null)
{
for (var i=0;i<TbRow.rows.length ;i++ )
{
if (TbRow.rows[i].rowIndex%2==1)
{
TbRow.rows[i].style.backgroundColor="#ffffff";
}
else
{
TbRow.rows[i].style.backgroundColor="#f7f7f4";
}
}
}
</script>    
</article>
</body>

</html>
