<!doctype html>
{% extends 'base.html' %}

{% block left_frame %}
    	<div class="left-frame">
        	<div class="left-f-title">顾客信息</div>
            <div class="left-f-content">
                <ul id="menu">
                    <li><span class="menu-list"><img src="/static/images/admin/admin_01.png" align="absmiddle">
                        <a href="{% url 'consumer_is_dining' %}" target="mainFrame">正在消费</a></span>

                    <li><span class="menu-list"><img src="/static/images/admin/admin_01.png" align="absmiddle">
                        <a href="{% url 'consumer_list' %}" target="mainFrame">顾客列表</a></span>

                    <li><span class="menu-list"><img src="/static/images/admin/admin_01.png" align="absmiddle">
                        <a href="{% url 'dining_list' %}" target="mainFrame">就餐记录</a></span>
                </ul>
            </div>
        </div>
{% endblock %}
        
{% block right_frame %}
        <div class="right-frame">
          <div class="right-f-title">
            <b>当前位置：</b>顾客列表
          </div>
          <iframe id="mainFrame" name="mainFrame" src="{% url 'consumer_is_dining'%}"  frameborder="0" ></iframe>
        </div>
{% endblock %}
