<!doctype html>
<html>
<!doctype html>
<head>
<meta charset="utf-8">
<title>东启湘厨后台管理首页</title>
<link href="/static/css/common.css" rel="stylesheet" type="text/css">
<link href="/static/css/admin/admin.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
<script type="text/javascript" src="/static/js/menu.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.2.6.js"></script>
<script type="text/javascript" src="/static/js/jquery.funkyUI.js"></script>
</head>

<body class="admin_dl_box">
<div>
    <div class="admin_dl_a">
        <div class="dl_box">
		<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<table>
		<tr>
            <td class="admin_dl_y"><label for="id_username">帐号:</label></td>
            <td><input id="id_username" maxlength="254" name="username" type="text" class="admin_dl dl_yh" /></td>
		</tr>
		<tr>
            <td class="admin_dl_y"><label for="id_password">密码:</label></td>
            <td><input id="id_password" name="password" type="password"  class="admin_dl dl_mm" /></td></td>
		</tr>
		<tr>
            <td class="admin_dl_y"></td>
			<td align="center"> 
                <input type="submit" class="admin_ru" value="登录" />
			    <input type="hidden" class="admin_fan" name="next" value="{{ next }}" /> 
            </td>
		</tr>
		</table>
		</form>
        </div>
    </div>
</div>
</body>
</html>
