<!doctype html>
<html>
{% include 'header.html' %}
<body>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="award_box_title">月报表</div>
        	<div class="award_box_content">
                <table cellspacing="2" cellpadding="0" class="tab-add" id="tab-color">
                  <tr>
                    <th width="25%">时间</th>
                    <th width="25%" colspan="2">优惠券</th>
                    <th width="25%" colspan="2">使用券</th>
                    <th width="25%" colspan="2">剩下券与余额</th>
                  </tr>
                  <tr class="monthly_xls_hfont">
                    <td class="color_b">2016.05.02</td>
                    <td class="color_a">发15个</td>
                    <td class="color_b">金额205元</td>
                    <td class="color_a">使用5个</td>
                    <td class="color_b">金额200元</td>
                    <td class="color_a">10个</td>
                    <td class="color_a">15元</td>
                  </tr>
                  <tr class="monthly_xls_hfont">
                    <td class="color_b">2016.05.02</td>
                    <td class="color_a">发15个</td>
                    <td class="color_b">金额205元</td>
                    <td class="color_a">使用5个</td>
                    <td class="color_b">金额200元</td>
                    <td class="color_a">10个</td>
                    <td class="color_a">15元</td>
                  </tr>
                  <tr class="monthly_xls_hfont">
                    <td class="color_b">2016.05.02</td>
                    <td class="color_a">发15个</td>
                    <td class="color_b">金额205元</td>
                    <td class="color_a">使用5个</td>
                    <td class="color_b">金额200元</td>
                    <td class="color_a">10个</td>
                    <td class="color_a">15元</td>
                  </tr>
                  <tr class="monthly_xls_color">
                    <th width="25%">总计</th>
                    <th>100个</th>
                    <th>250元</th>
                    <th>100个</th>
                    <th>250元</th>
                    <th width="13%">25个</th>
                    <th width="12%">25元</th>
                  </tr>
                </table>
            </div>
        </div>
    </section>    
</article>
<script language="JavaScript">
var TbRow = document.getElementById("tab-color");
if (TbRow != null)
{
for (var i=0;i<TbRow.rows.length ;i++ )
{
if (TbRow.rows[i].rowIndex%2==1)
{
TbRow.rows[i].style.backgroundColor="#ffffff";
}
else
{
TbRow.rows[i].style.backgroundColor="#f7f7f4";
}
}
}
</script> 
</body>
</html>
