<!doctype html>
<html>
{% include 'header.html' %}
<body>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="award_box_title">日报表</div>
        	<div class="award_box_content">
                <table cellspacing="2" cellpadding="0" class="tab-add" id="tab-color">
                  <tr>
                    <th width="15%">用户</th>
                    <th width="15%">时间</th>
                    <th width="20%">出入</th>
                    <th width="20%">内容</th>
                    <th width="15%">来源</th>
                    <th width="15%">金额（单位/元）</th>
                  </tr>

                  {% for item in daily_detail %}
                  <tr>
                      <td class="color_a">
                          <span class="new_head"><img src="{{ item.consumer.picture}}" align="absmiddle"></span>{{item.consumer.name}}</td>
                      <td class="color_a">{{ item.time|date:"Y-n-j H:i:s" }}</td>
                      <td class="color_a">{{ item.action }}</td>
                      <td class="color_a">{{ item.content }}</td>
                      <td class="color_a">{{ item.source }}</td>
                      <td class="color_a">{{ item.value }}</td>
                  </tr>
                  {% endfor %}
                </table>
            </div>
            
            
        </div>
    </section>    
</article>

</body>
</html>
