<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
-->
<title>{{title}}</title>

<link href="{{static_url}}css/main.css" rel="stylesheet" type="text/css">
<link href="{{static_url}}css/common.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
<script src="{{static_url}}js/prefixfree.min.js"></script>
</head>

<body class='{{body_class}}'>
	<hgroup>
		{% block header %}
		{% endblock %}	
	</hgroup>

	<article class='{{article_class}}'>
			{% block content %}
			{% endblock %}	
	</article>
	
</body>
</html>