<div class="btn3 clearfix">
	<div class="menu" >
		<div class="bt-name">红包</div>
		<div class="sanjiao"></div>
		<div  class="new-sub">
			<ul>
				<li><a href="{{menu.get_bonus_url}}">抢红包</a></li>
				<li><a href="{{menu.snd_bonus_url}}" >发红包</a></li>
			</ul>
			<div class="tiggle"></div>
			<div class="innertiggle"></div>
		</div>
	</div><!--menu-->
	<div class="menu">
		<div class="bt-name"><a href="{{menu.settle_accounts_url}}">结算</a></div>
	</div><!--menu-->
	<div class="menu">
		<div class="bt-name"><a href="{{menu.forum_url}}">论坛</a></div>
	</div><!--menu-->
	<div class="menu" >
		<div class="bt-name">我</div>
		<div class="sanjiao"></div>
		<div class="new-sub">
			<ul>
				<li><a href="{{menu.user_account_url}}" >我</a></li>
				<li><a href="{{menu.user_info_url}}" >个人信息</a></li>
				<li><a href="{{menu.user_ticket_url}}" >我的礼券</a></li>
				<li><a href="{{menu.self_bonus_list_url}}" >排行榜</a></li>
				<li><a href="{{menu.self_snd_bonus_url}}" >发出红包</a></li>
				<li><a href="{{menu.self_rcv_bonus_url}}" >收到红包</a></li>
			</ul>
			<div class="tiggle"></div>
			<div class="innertiggle"></div>
		</div>
	</div><!--menu-->
</div>

<script src="{{static_url}}js/bottom-menu.js"></script>