<!-- 串串详细 -->
{% extends "_bonus_base.html" %}

{% block body %}
<body class="issue-bj stanson bottom_40">
{% block content %}
<article>
<section>
  	<div class="issue-top">
    	<h4>{{snd_bonus.consumer.name}}</h4>
        <div class="Angel">
        	<div class="blades">
                <div class="Angel-baby stansonimgbj"></div>
            </div>
            <h2><img src="{{snd_bonus.consumer.picture}}"></h2>
        </div>
        
        <h5 class="stansonimg">{{snd_bonus.to_message}}</h5>
        <h3 class="stansoncolor">{{snd_bonus.number}}<span>串</span></h3>
        <style type="text/css">
			.blades{animation: spin 100s linear infinite;}
		</style>
    </div>
</section>

<section>
	<div class="accept">
		{% if snd_bonus.is_exhausted  %}
		<h4>{{snd_bonus.number}}个串串，已被抢光</h4>
		{% endif %}			
		{% if snd_bonus.is_valid and snd_bonus.bonus_remain %}
		<h4>已领取{{snd_bonus.bonus_exhausted}}/{{snd_bonus.bonus_num}}个</h4>
		{% endif %}
		{% if not snd_bonus.is_valid and snd_bonus.bonus_remain %}
		<h4>已领取{{snd_bonus.bonus_exhausted}}/{{snd_bonus.bonus_num}}个, 红包已失效</h4>
		{% endif %}		
	</div>
</section>

<section>
  	<div class="chch-list">
    	<ul>
			{% for bonus in rcv_bonus_list %}
        	<li class="xxbaise">
            	<h2><img src="{{bonus.consumer.picture}}"></h2>
            	<h3>{{bonus.consumer.name}}<br>
				{% if bonus.is_message %}
				<p>{{bonus.message}}</a></p>
				{% else %}
				{% ifequal bonus.consumer.open_id openid %}
				{% if not bonus.is_refuse %}
				<p id="{{bonus.id_bonus}}"><a>留言</a></p>				
				{% endif %}
				{% endifequal %}				
				{% endif %}
				{% if bonus.is_refuse %}
				<i>已婉拒</i>
				{% endif %}
				</h3>
               	<h5>
					{% if bonus.is_best and snd_bonus.is_exhausted %}
					<img src="{{static_url}}images/5_zanstanson.png" align="absmiddle">	
					{% endif %}	
					<span class="rfloat">{{bonus.number}}串<br><font class="date_color">{{bonus.datetime|date:"H:i"}}</font></span>
				</h5>
							
            </li>
			{% endfor %}
		</ul>
	</div>
</section>

<section>
    <div class="am-share">
		<h3 class="am-share-title">
			<input type="text" class="blankin" name="message" id="message" placeholder="谢谢您的红包">
			<input type="text" class="blankiny" name="id_bonus" id="id_bonus">
			<input type="text" class="blankiny" name="show_message" id="show_message">
			<input type="button" id='snd_msg' class="send_out" value="发送" >
		</h3>
    </div>	
</section> 
<script type="text/javascript" src="{{static_url}}js/jquery.js"></script>
<script type="text/javascript" src="{{static_url}}js/geted_bonus.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#snd_msg").unbind('click').click(function(){
		send_message({{ajax_request_url}});
	});
	
	$("#" + {{bonus.id_bonus}}).unbind('click').click(function(){
		message({{bonus.id_bonus}});
	});
	
});
</script>

</article>
{% endblock %}

{% block menu %}
{% include '_menu.html' %}
{% endblock %}

</body>
{% endblock %}