{% extends "_bonus_base.html" %}

{% block content %}

<section>
  	<div class="issue-top">
    	<h4>stanson</h4>
        <div class="Angel">
        	<div class="blades">
                <div class="Angel-baby stansonimgbj"></div>
            </div>
            <h2><img src="images/stanson.jpg"></h2>
        </div>
        
        <h5 class="stansonimg">马克菠萝的日记</h5>
        <h3 class="stansoncolor">1,508<span>串</span></h3>
        <style type="text/css">
			.blades{animation: spin 100s linear infinite;}
		</style>
    </div>

</section>

{% endblock %}