<!-- 普通红包 -->
{% extends "_bonus_base.html" %}

{% block body %}
<body class="qubaba_hsbj bottom_40">

{% block content %}
<article>
<section>
  	<div class="box-duixiang">
    	<h4><span class="rfloat"><input type="number" name="table" class="lvse">号桌</span>发送对象
        <img src="{{static_url}}images/qubaba2_01.png" width="40">
        </h4>
    </div>
    <div class="box-food">
		<ul>
		{% for key, value in good_list.items %}		
        	<li>
            	<h4><span class="rfloat"><input type="number" name="{{value.name}}" placeholder="0" class="kongbai">{{value.unit}}</span>{{key}}<span class="box-food-gray">({{value.price}}元/{{value.unit}})</span></h4>
            </li>
		{% endfor %} 
			<li>
				<h4><span class="rfloat"><input type="number" name="bonus_num"  class="kongbai">个</span>红包个数</h4>			
			</li>		
		</ul>
	</div>
    <div class="box-duixiang liuyanbj">
    	<h4><span class="rfloat"><input type="text" class="liuyan" name="message" placeholder="恭喜发财，大吉大利！"></span>留言</h4>
    </div>	
</section>

<section>
   	<div class="fei_box">
        <div class="blades">
			<div class="blade3 bladep-pt"></div>
		</div>	
        <h4 class="ptf"><input type="button" name="order" class="subf" value="" onclick="unified_order('{{ajax_request_url}}', '{{choose_pay_url}}', '{{openid}}', '0')"></h4>
    </div>
</section>
<script type="text/javascript" src="{{static_url}}js/unified_order.js"></script>
<style type="text/css">
	.blades{animation: spin 100s linear infinite;}
</style>
</article>
{% endblock %}

{% block menu %}
{% include '_menu.html' %}
{% endblock %}

</body>
{% endblock %}