{% extends "_bonus_base.html" %}

{% block content %}
<form action="{{choose_pay_url}}" method="get">  
<section>
  	<div class="box-duixiang">
    	<h4><span class="rfloat"><input type="number" name="table" class="lvse">号桌</span>发送对象
        <img src="{{static_url}}images/qubaba2_01.png" width="40">
        </h4>
    </div>
    <div class="box-food">
		<ul>
		{% for key, value in good_list.items %}
			<li>
            	<h4><span class="rfloat"><input type="number" name='{{value.id}}' class="kongbai">{{value.unit}}</span>{{key}}<span class="box-food-gray">({{value.price}}元/{{value.unit}})</span></h4>
            </li>
		{% endfor %}
		</ul>
	</div>
    <div class="box-duixiang liuyanbj">
    	<h4><span class="rfloat"><input type="text" class="liuyan" name="message" value="恭喜发财，大吉大利！"></span>留言</h4>
    </div>	
</section>

<section>
   	<div class="fei_box">
        <div class="blades">
			<div class="blade3 bladep-pt"></div>
		</div>
		<input hidden name="openid" value="{{openid}}">
		<input hidden name="bonus_type" type="number" value=0>			
        <h4 class="ptf"><input type="submit" class="subf" value=""></h4>
    </div>
</section>
</form>  

<style type="text/css">
	.blades{animation: spin 100s linear infinite;}
</style>


{% endblock %}