{% extends "_bonus_base.html" %}

{% block content %}
<section>
  	<div class="box-duixiang">
    	<h4><span class="rfloat"><input type="number" class="lvse">∫≈◊¿</span>∑¢ÀÕ∂‘œÛ
        <img src="{{static_url}}images/qubaba2_01.png" width="40">
        </h4>
    </div>
    <div class="box-food">
		<ul>
		{% for key, value in good_list.items %}
			<li>
            	<h4><span class="rfloat"><input type="number" class="kongbai">{{value.name}}</span>{{key}}<span class="box-food-gray">{{value.price}}</span></h4>
            </li>
		{% endfor %}
		</ul>
	</div>
    <div class="box-duixiang liuyanbj">
    	<h4><span class="rfloat"><input type="text" class="liuyan"></span>¡Ù—‘</h4>
    </div>	
</section>

<section>
   	<div class="fei_box">
    	<!--<h2 class="yaobai"></h2>-->
        <div class="blades">
			<div class="blade3 bladep-pt"></div>
		</div>
        <h4 class="ptf"><a href="{{choose_pay_url}}" target="_parent"><img src="{{static_url}}images/qubaba2_03.png"></a></h4>
    </div>
</section>

<style type="text/css">
	.blades{animation: spin 100s linear infinite;}
</style>


{% endblock %}