<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
--><title>发出的红包</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
</head>

<body>
<hgroup>
	<header class="hongbao">
    	<i class="icon-j">&nbsp;</i>
        <h4>发出的红包</h4>
    </header>
</hgroup>
<article>

  
  <section>
  	<div class="issue-top">
    	<h2><img src="images/tou2.png"></h2>
        <h4>卡卡共发出</h4>
        <h3>1,508.12<span>元</span></h3>
        <h5>共发出红包<font class="orge">50</font>个</h5>
    </div>
  </section>
  <section>
  	<div class="issue-list">
    	<ul>
        	<li>
            	<h4><span class="rfloat">120.00元</span>普通红包</h4>
                <h5><span class="rfloat">10/10个</span>02-22</h5>
            </li>
            <li>
            	<h4><span class="rfloat">120.00元</span>普通红包</h4>
                <h5><span class="rfloat">10/10个</span>02-22</h5>
            </li>
            <li>
            	<h4><span class="rfloat">120.00元</span>普通红包</h4>
                <h5><span class="rfloat">10/10个</span>02-22</h5>
            </li>
            <li>
            	<h4><span class="rfloat">120.00元</span>普通红包</h4>
                <h5><span class="rfloat">10/10个</span>02-22</h5>
            </li>
            <li>
            	<h4><span class="rfloat">120.00元</span>普通红包</h4>
                <h5><span class="rfloat">10/10个</span>02-22</h5>
            </li>
        </ul>
    </div>
  </section>
  
  
<footer id="footer" role="conteninfo">
    	
</footer>
  
</article>


</body>
</html>
