{% extends "_bonus_base.html" %}

{% block content %}
<section>
	<div class="qiang">
		
		<div class="button-qhb">
			
			<section class="cd-section">
				<div class="blades">
					<div class="blade3"></div>
				</div>
				<div class="main">
					<div class="item1">
						<div class="kodai">
							<img src="{{static_url}}images/qubaba1_03.png" class="full" onclick="click_get_bonus('{{ajax_request_url}}', '{{openid}}')" />
							<img src="{{static_url}}images/qubaba1_03_zhse.png" class="empty" />
						</div>
						<div class="clipped-box">
				
						</div>
					</div>
				</div>
			</section> 	
			
			<div class="tch-share" id="bonus_result">
			  <h3 class="tch-share-title" id="rcv_bonus"></h3>
			  <ul class="tch-share-sns">
				<li id="link1"><a href="{{geted_bonus_url}}">查看红包&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{get_bonus_url}}">继续抢红包</a></a></li>
				<li id="link2"><a href="{{get_bonus_url}}">继续抢红包</a></li>
			  </ul>
			</div>	
			
			<link href="{{static_url}}css/animator.css" rel="stylesheet" />			
			<style type="text/css">
				.blades{animation: spin 100s linear infinite;}
			</style>			
		</div>
	</div>
	<h2 id="id_bonus"></h2>
</section>

<script src="{{static_url}}js/bonus_animation.js"></script>
<script src="{{static_url}}js/get_bonus.js"></script>

{% endblock %}

{% block menu %}
{% include '_menu.html' %}
{% endblock %}
