{% extends "_bonus_base.html" %}

{% block content %}
<section>
{% for bonus in system_bonus %}
    <div class="head">
		<h2><img src={{bonus.picture}}></h2>
		<h4>{{bonus.name}}的红包</h4>
        <h5>{{bonus.message}}</h5>
		<h6>{{bonus.title}}</h6>
	</div>
    <div class="box-food qbbaise headmarg">
		<ul>
			{% for key, value in bonus.content.items %}
			<li>
				<h4><span class="rfloat">{{value}}</span>{{key}}</h4>	
			</li>
			{% endfor %}
		</ul>
	</div>	
	<div class="box-dongqi">
		<h6 class="rfloat" id="{{bonus.id_bonus}}"><span onClick="toshare('{{bonus.openid}}', '{{bonus.id_bonus}}')">留言</span></h6>
		<h6>{{bonus.datetime|date:"F-j-Y"}}</h6>
	</div>
{% endfor %}

{% for bonus in random_bonus %}
    <div class="head">
		<h2><img src={{bonus.picture}}></h2>
		<h4>{{bonus.name}}的红包</h4>
        <h5>{{bonus.message}}</h5>
	</div>
    <div class="box-food qbbaise headmarg">
		<ul>
			{% for key, value in bonus.content.items %}
			<li>
				<h4><span class="rfloat">{{value}}</span>{{key}}</h4>	
			</li>
			{% endfor %}
		</ul>
	</div>	
	<div class="box-dongqi">
		<h6 class="rfloat" id="{{bonus.id_bonus}}"><span onClick="toshare('{{bonus.openid}}', '{{bonus.id_bonus}}')">留言</span></h6>
		<h6>{{bonus.datetime|date:"F-j-Y"}}</h6>
	</div>
{% endfor %}

{% for bonus in common_bonus %}
    <div class="head">
		<h2><img src={{bonus.picture}}></h2>
		<h4>{{bonus.name}}的红包</h4>
        <h5>{{bonus.message}}</h5>
	</div>
    <div class="box-food qbbaise headmarg">
		<ul>
			{% for key, value in bonus.content.items %}
			<li>
				<h4><span class="rfloat">{{value}}</span>{{key}}</h4>	
			</li>
			{% endfor %}
		</ul>
	</div>	
	<div class="box-dongqi">
		<h6 class="rfloat" id="{{bonus.id_bonus}}"><span onClick="toshare('{{bonus.openid}}', '{{bonus.id_bonus}}')">留言</span></h6>
		<h6>{{bonus.datetime|date:"F-j-Y"}}</h6>
        <h2 id="h{{bonus.id_bonus}}"><input type="button" id="button" class="red" value="婉拒" onClick="refuse_bonus('{{bonus.id_bonus}}', '{{ajax_request_url}}')"></h2>
        <span class="wj"><a href="{{common_bonus_url}}" target="_blank">回赠</a></span>	
	</div>	
{% endfor %}

	<section>
		<div class="am-share">
		  <h3 class="am-share-title">
			<input type="text" class="blankin" name="message" id="message" value="谢谢您的红包">
			<input type="text" class="blankiny" name="openid" id="openid">
			<input type="text" class="blankiny" name="id_bonus" id="id_bonus">
			<input type="text" class="blankiny" name="show_message" id="show_message">
			<input type="button" class="send_out" value="发送" onClick="send_message('{{ajax_request_url}}')">
		  </h3>
		</div>	
	</section>

	<script type="text/javascript" src="{{static_url}}js/jquery.js"></script>
	<script>
	
	function refuse_bonus(id_bonus, url){
		var xmlhttp;

		data = '{"id_bonus":"ID_BONUS", "action":"ajax_bonus_refuse"}';
		data = data.replace(/ID_BONUS/, id_bonus);

		if (window.XMLHttpRequest)
		  {// code for IE7+, Firefox, Chrome, Opera, Safari
		  xmlhttp=new XMLHttpRequest();
		  }
		else
		  {// code for IE6, IE5
		  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		  }
		  
		xmlhttp.onreadystatechange=function()
		{
			if(xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				var html = '<input type="button" id="button" class="gray" value="婉拒">';
				var id = "hID_BONUS".replace(/ID_BONUS/, id_bonus);
				document.getElementById(id).innerHTML = html;
			}
		}
		xmlhttp.open("POST", url, true);
		xmlhttp.send(data);		
		
	}

	function send_message(url){
		var openid, id_bonus, message, data;
		var xmlhttp;
		openid = document.getElementById("openid").value;
		id_bonus = document.getElementById('id_bonus').value;
		message = document.getElementById("message").value;

		data = '{"openid":"OPENID","id_bonus":"ID_BONUS","message":"MESSAGE", "action":"ajax_bonus_message"}';
		data = data.replace(/OPENID/, openid).replace(/ID_BONUS/, id_bonus).replace(/MESSAGE/, message);

		if (window.XMLHttpRequest)
		  {// code for IE7+, Firefox, Chrome, Opera, Safari
		  xmlhttp=new XMLHttpRequest();
		  }
		else
		  {// code for IE6, IE5
		  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		  }
		  
		xmlhttp.onreadystatechange=function()
		{
			if(xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				var id = document.getElementById("show_message").value;
				document.getElementById(id).innerHTML=message;
			}
		}
		xmlhttp.open("POST", url, true);
		xmlhttp.send(data);	
	}
		
	function toshare(openid, id_bonus){
		$(".am-share").addClass("am-modal-active");	
		if($(".send_out").length>0){
			$(".send_out").addClass("sharebg-active");
		}else{
			$("body").append('<div class="send_out"></div>');
			$(".send_out").addClass("sharebg-active");
		}
		$(".sharebg-active,.share_btn").click(function(){
			$(".am-share").removeClass("am-modal-active");	
			setTimeout(function(){
				$(".sharebg-active").removeClass("sharebg-active");	
				$(".send_out").unchanged();	
			},300);
		})
		
		document.getElementById("openid").value=openid;
		document.getElementById("id_bonus").value=id_bonus;		
		document.getElementById("show_message").value=id_bonus;
	}
	</script>
</section>

{% endblock %}