<!-- 查看抢到的红包 -->
{% extends "_bonus_base.html" %}

{% block body %}
<body class="qubaba_hsbj bottom_40">

{% block content %}
<article>
<section>

	{% ifequal bonus.bonus_type 2%}
    <div class="head">
		<h2><img src={{bonus.picture}}></h2>
		<h4>{{bonus.name}}</h4>
        <h5>{{bonus.message}}</h5>
		{% if bonus.title %}
		<h6>由{{bonus.title}}赞助</h6>
		{% endif %}
	</div>
    <div class="box-food qbbaise headmarg">
		<ul>
			{% for value in bonus.content %}
			<li>
				<h4><span class="rfloat">{{value.number}} {{value.unit}}</span>{{value.name}}</h4>	
			</li>
			{% endfor %}
		</ul>
	</div>	
	<div class="box-dongqi">
		<h6 class="rfloat" id="{{bonus.id_bonus}}"><span onClick="message('{{bonus.id_bonus}}')">留言</span></h6>
		<h6>{{bonus.datetime|date:"m-j"}}</h6>
	</div>
	{% endifequal %}

	{% ifequal bonus.bonus_type 1%}
    <div class="head">
		<h2><img src={{bonus.picture}}></h2>
		<h4>{{bonus.name}}</h4>
        <h5>{{bonus.message}}</h5>
	</div>
    <div class="box-food qbbaise headmarg">
		<ul>
			{% for value in bonus.content%}
			<li>
				<h4><span class="rfloat">{{value.number}} {{value.unit}}</span>{{value.name}}</h4>	
			</li>
			{% endfor %}
		</ul>
	</div>	
	<div class="box-dongqi">
		<h6 class="rfloat" id="{{bonus.id_bonus}}"><span onClick="message('{{bonus.id_bonus}}')">留言</span></h6>
		<h6>{{bonus.datetime|date:"m-j"}}</h6>
	</div>
	{% endifequal %}

	{% ifequal bonus.bonus_type 0%}
    <div class="head">
		<h2><img src={{bonus.picture}}></h2>
		<h4>{{bonus.name}}的红包</h4>
        <h5>{{bonus.message}}</h5>
	</div>
    <div class="box-food qbbaise headmarg">
		<ul>
			{% for value in bonus.content %}
			<li>
				<h4><span class="rfloat">{{value.number}} {{value.unit}}</span>{{value.name}}</h4>	
			</li>
			{% endfor %}
		</ul>
	</div>	
	<div class="box-dongqi">
		<h6 class="rfloat" id="{{bonus.id_bonus}}"><span onClick="message('{{bonus.id_bonus}}')">留言</span></h6>
		<h6>{{bonus.datetime|date:"m-j"}}</h6>
        <h2><input type="button" name="{{bonus.id_bonus}}" class="red" value="婉拒"></h2>
        <span class="wj"><a href="{{common_bonus_url}}/?table={{bonus.table}}" target="_blank">回赠</a></span>	
	</div>	
	{% endifequal %}


	<section>
		<div class="am-share">
		  <h3 class="am-share-title">
			<input type="text" class="blankin" name="message" id="message" placeholder="谢谢您的红包">
			<input type="text" class="blankiny" name="id_bonus" id="id_bonus">
			<input type="text" class="blankiny" name="show_message" id="show_message">
			<input type="button" id="snd_msg" class="send_out" value="发送">
		  </h3>
		</div>	
	</section>

	<script type="text/javascript" src="{{static_url}}js/jquery.js"></script>
	<script type="text/javascript" src="{{static_url}}js/geted_bonus.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$("h2").one('click', function(){
			var id = $(this).find('input').attr("name");
			refuse_bonus(id, '{{ajax_request_url}}');
		});		
		
		$("#snd_msg").unbind('click').click(function(){
			send_message('{{ajax_request_url}}');
		});			
	
	});
	</script>	
</section>
</article>

{% endblock %}

{% block menu %}
{% include '_menu.html' %}
{% endblock %}

</body>
{% endblock %}