<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
--><title>排行榜</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
</head>

<body>


<article>
  
  <section>
  	<div class="ranking">
    	<ul>
        	<li><h4><span class="rfloat hongs">125006</span><i>1</i><img src="images/tou.png" align="absmiddle"><span class="zhuohao">桌号5</span></h4></li>
            <li><h4><span class="rfloat dhong">1006</span><i>2</i><img src="images/tou.png" align="absmiddle"><span class="zhuohao">桌号5</span></h4></li>
            <li><h4><span class="rfloat">150</span><i>3</i><img src="images/tou.png" align="absmiddle"><span class="zhuohao">桌号8</span></h4></li>
            <li><h4><span class="rfloat">150</span><i>4</i><img src="images/tou.png" align="absmiddle"><span class="zhuohao">桌号182</span></h4></li>
            <li><h4><span class="rfloat">18</span><i>5</i><img src="images/tou.png" align="absmiddle"><span class="zhuohao">桌号82</span></h4></li>
            <li><h4><span class="rfloat">150</span><i>6</i><img src="images/tou.png" align="absmiddle"><span class="zhuohao">桌号27</span></h4></li>
            <li><h4><span class="rfloat">18</span><i>7</i><img src="images/tou.png" align="absmiddle"><span class="zhuohao">桌号208</span></h4></li>
            <li><h4><span class="rfloat">150</span><i>8</i><img src="images/tou.png" align="absmiddle"><span class="zhuohao">桌号82</span></h4></li>
            <li><h4><span class="rfloat">18</span><i>9</i><img src="images/tou.png" align="absmiddle"><span class="zhuohao">桌号82</span></h4></li>
            <li><h4><span class="rfloat">150</span><i>10</i><img src="images/tou.png" align="absmiddle"><span class="zhuohao">桌号82</span></h4></li>
       
        </ul>
        
    </div>
  </section>
  
  
  
<footer id="footer" role="conteninfo">
    	
</footer>
  
</article>


</body>
</html>
