<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
--><title>抢到的红包</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
</head>

<body>


<article>

  
  <section>
    <div class="box-dongqi">
    	<h4>东启湘厨</h4>
        <h5><span class="rfloat">15.6元</span>阿里巴巴</h5>
        <h6><span class="rfloat">留言</span>16-02-25</h6>
    </div>
    
    <div class="box-dongqi">
    	<h4>8号桌</h4>
        <h5><span class="rfloat">15.6元</span>阿里巴巴</h5>
        <h6><span class="rfloat">留言</span>16-02-25</h6>
        <h2><input type="button" class="red" value="回赠"></h2>
        <span class="wj"><a href="#" target="_blank">婉拒</a></span>
    </div>
    
  </section>
  
  <section>
  	
  </section>
  
  
<footer id="footer" role="conteninfo">
    	
</footer>
  
</article>


</body>
</html>
