<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
--><title>东启湘厨</title>
<link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/common.css" rel="stylesheet" type="text/css">
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
</head>

<body class="red_q">



<article>

  
  <section>
  	<div class="qiang">
    	<h4>红包来了！</h4>
        <div class="button-qhb">
        	<!--红包效果开始-->
       	 <!--<input type="button" class="huang" value="抢红包">-->
         	<section class="cd-section">
                <a class="cd-bouncy-nav-trigger" href="#0" onclick="get_bonus()">抢红包</a>
            </section> 
        
            <div class="cd-bouncy-nav-modal">
                <nav>
                    <ul class="cd-bouncy-nav">
                        <li>
                        	
                        	<h4> id="bonus"</h4>
                            <h5><a href="http://ec2-54-200-11-160.us-west-2.compute.amazonaws.com/weixin/geted_bonus">查看</a></h5>
                        </li>
                    </ul>
                </nav>
                <a href="#0" class="cd-close">Close modal</a>
            </div>
            <script src="{{STATIC_URL}}js/jquery-2.1.1.js"></script>
			<script src="{{STATIC_URL}}js/main.js"></script> 
            <!--红包效果结束-->
        </div>
        <div class="qhbyes"><a href="http://ec2-54-200-11-160.us-west-2.compute.amazonaws.com/weixin/geted_bonus" target="_blank">抢到的红包</a></div>
    </div>
    
  </section>
  
  <section>
  
  </section>
  
<script>
function get_bonus()
{
$(document).ready(function(){
  $("button").click(function(){
    $.post("http://ec2-54-200-11-160.us-west-2.compute.amazonaws.com/weixin/asp_test",
    {
      name:"Donald Duck",
      city:"Duckburg"
    },
    function(data){
      document.getElementById("bonus").innerHTML=data;
    });
  });
});
}
</script>
  
</article>

</body>
</html>
