{% extends "_bonus_base.html" %}

{% block content %}
<section>
  	<div class="box-duixiang zhongse">
    	<h4><span class="rfloat">所有桌台</span>发送对象
        <img src="{{static_url}}images/qubaba3_01.png">
        </h4>
    </div>	
    <div class="box-food">
    	<ul>
		{% for key, value in good_list.items %}		
        	<li>
            	<h4><span class="rfloat"><input type="number" class="kongbai">{{value.price}}</span>{{key}}<span class="box-food-gray">{{value.price}}</span></h4>
            </li>
		{% endfor %}
        </ul>
    </div>	
	
    <div class="box-duixiang liuyanbj zhongse">
    	<h4><span class="rfloat"><input type="text" class="liuyan liuyan_zs"></span>留言</h4>
    </div>	
</section>

<section>
   	<div class="fei_box">
        <div class="blades">
			<div class="blade3 bladep-shq"></div>
		</div>
        <h4><a href="{{choose_pay_url}}" target="_parent"><img src="{{static_url}}images/qubaba2_03.png"></a></h4>
    </div>
</section>


<style type="text/css">
	.blades{animation: spin 100s linear infinite;}
</style>
{% endblock %}