<!-- 收到的红包 -->
{% extends "_bonus_base.html" %}

{% block body %}
<body class="issue-bj stanson bottom_40">

{% block content %}
<article>
<section>
  	<div class="issue-top">
    	<h4>{{consumer.name}}</h4>
        <div class="Angel">
        	<div class="blades">
                <div class="Angel-baby stansonimgbj"></div>
            </div>
            <h2><img src="{{consumer.picture}}"></h2>
        </div>
        
        <h5 class="stansonimg"><img src="{{static_url}}images/qubaba5_03_01.png"></h5>
        <h3>{{consumer.snd_bonus_num}}<span>串</span></h3>
        <style type="text/css">
			.blades{animation: spin 100s linear infinite;}
		</style>
    </div>	
</section>


<section>
 	<div class="issue-list">
		<ul>
		{% for bonus in snd_bonus_list %}
            <li class="shdbai">
				<a href="{{bonus_detail_url}}/?id_bonus={{bonus.id_bonus}}" target="_parent">	
				{% ifequal bonus.bonus_type 0 %}
            	<h3>普通红包</h3>
				{% endifequal %}
				{% ifequal bonus.bonus_type 1 %}
            	<h3>手气红包</h3>
				{% endifequal %}				
                <h4>{{bonus.create_time|date:"F-j"}}</h4>
                <h5>{{bonus.number}}串</h5>
				</a>
            </li>		
		{% empty %}
			<li>您还未发过串串，赶紧去发串串吧</li>
		{% endfor %}
		</ul>
	</div>
</section>
</article>
{% endblock %}

{% block menu %}
{% include '_menu.html' %}
{% endblock %}

</body>
{% endblock %}