<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
--><title>东启湘厨</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
</head>

<body>
<hgroup>
	<header class="hongbao">
    	<i class="icon-j">&nbsp;</i>
        <h4>手气红包</h4>
    </header>
</hgroup>

<article>
  <section>
    <div class="box-food">
    	<ul>
        	<li>
            	<h4><span class="rfloat"><input type="number" class="kongbai">串</span>串串<span class="box-food-gray">（15元/串）</span></h4>
            </li>
            <li>
            	<h4><span class="rfloat"><input type="number" class="kongbai">份</span>甜品<span class="box-food-gray">（15元/份）</span></h4>
            </li>
            <li>
            	<h4><span class="rfloat"><input type="number" class="kongbai">份</span>饮品<span class="box-food-gray">（15元/份）</span></h4>
            </li>
        </ul>
    </div>
    
    <div class="box-duixiang liuyanbj">
    	<h4><span class="rfloat"><input type="text" class="liuyan"></span>留言</h4>
    </div>
    <div class="money lato">￥750.00</div>
  </section>
  
  <section>
  	<input type="button" class="red" value="发红包">
  </section>
  
  
<footer id="footer" role="conteninfo">
    	
</footer>
  
</article>


</body>
</html>
