<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
--><title>收到的红包</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
</head>

<body>
<hgroup>
	<header class="hongbao">
    	<i class="icon-j"><a href="#" target="_parent"></a></i>
        <h4>收到的红包</h4>
    </header>
</hgroup>
<article>

  
  <section>
  	<div class="issue-top">
    	<h2><img src="images/tou2.png"></h2>
        <h4>最好餐厅发出</h4>
        <h3>1,508.12<span>元</span></h3>
    </div>
  </section>
  <section>
  	<div class="accept">
    	<h3><span class="rfloat">5</span>155</h3>
        <h4><span class="rfloat">手气最佳</span>收到红包</h4>
    </div>
  </section>
  <section>
  	<div class="issue-list">
    	<ul>
        	<li>
            	<h4><span class="rfloat">120.00元</span>普通红包<img src="images/yun.png" align="absmiddle"></h4>
                <h5>02-22</h5>
            </li>
            <li>
            	<h4><span class="rfloat">120.00元</span>普通红包</h4>
                <h5>02-22</h5>
            </li>
            <li>
            	<h4><span class="rfloat">120.00元</span>普通红包</h4>
                <h5>02-22</h5>
            </li>
            <li>
            	<h4><span class="rfloat">120.00元</span>普通红包</h4>
                <h5>02-22</h5>
            </li>
            <li>
            	<h4><span class="rfloat">120.00元</span>普通红包</h4>
                <h5>02-22</h5>
            </li>
        </ul>
    </div>
  </section>
  
  
<footer id="footer" role="conteninfo">
    	
</footer>
  
</article>


</body>
</html>
