<!-- 我的信息 --邮箱 -->
{% extends "_bonus_base.html" %}

{% block body %}
<body class="bottom_40">

{% block content %}
<article>

	<section>    
		<div class="wo_xinxi wo_xinxi_mt">
			<div class="wo_xinxi_edit">
				<input class="nichen" type="text" id="email" placeholder="邮箱地址"  maxlength="20" style="color:#333333;padding:.3em;">
				<input type="button" id='modify_email' class="baocun" value="保存">
			</div>
		</div>
	</section>
  
</article>
{% endblock %}

<script src="{{static_url}}js/modify_user_info.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#modify_email").one('click', function(){
		submit_email('{{openid}}', '{{ajax_request_url}}', '{{user_info_url}}');
	});
});
</script>

</body>

{% endblock %}
