<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
--><title>未抢到红包-东启湘厨</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
</head>

<body class="red_q">



<article>

  
  <section>
  	<div class="qiang">
    	<h4>手慢了，红包派完了！</h4>
        <div class="button-qhb jxq">
       	 <a href="#" target="_blank">继续抢红包</a>
        </div>
        <div class="qhbyes"><a href="#" target="_blank">抢到的红包</a></div>
    </div>
    
  </section>
  
  <section>
  
  </section>
  
  
<footer id="footer" role="conteninfo">
    	
</footer>
  
</article>

</body>
</html>
