{% extends "_bonus_base.html" %}

{% block content %}

<section>
  	<div class="issue-top">
    	
        <div class="Angel">
        	<div class="blades">
                <div class="Angel-baby"></div>
            </div>
            <h2><img src="{{consumer.picture}}"></h2>
        </div>
        <h3>{{consumer.name}}</h3>
        <style type="text/css">
			.blades{animation: spin 100s linear infinite;}
		</style>
    </div>	
</section>

<section>
    <div class="box-food qbbaise">
    	<ul>
			{% for key, value in good_list.items %}
        	<li>
            	<h4><span class="rfloat"><font class="qbred">{{value.number}}</font>{{value.name}}</span>{{key}}<span class="box-food-gray">({{value.price}}元/{{value.unit}})</span></h4>
            </li>
			{% endfor %}
            <li>
            	<h4><span class="rfloat"><font class="qbred">{{total_money}}</font>元</span>消费总额</h4>
            </li>
        </ul>
    </div>
	
    <div class="queding">
        <input type="button" class="green" value="微信支付" onclick="weixin_pay('{{consumer.open_id}}', '{{total_money}}', '{{id_recharge}}')">
		{% if enough_money %}
        <input type="button" class="bule" value="钱包支付" onclick="wallet_pay()">
		{% endif %}
    </div>
	
</section>

<script>
function weixin_pay(openid, money, id_recharge){
	var xmlhttp;
	var url = 'http://120.76.122.53/weixin/view_ajax_request';
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  
	var data_str = '{"money":"MONEY", "openid":"OPENID", "action":"ACTION", "id_recharge":"ID_RECHARGE"}';
	var data = data_str.replace(/MONEY/, money).replace(/OPENID/, openid).replace(/ACTION/, 'ajax_weixin_pay').replace(/ID_RECHARGE/, id_recharge);
	
	xmlhttp.onreadystatechange=function()
	{
		if(xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			alert(xmlhttp.responseText);
		}
	}
	xmlhttp.open("POST", url, true);
	xmlhttp.send(data);	
}

function wallet_pay(){
	alert('支付成功')
}
</script>


{% endblock %}