<!-- 支付 -->
{% extends "_bonus_base.html" %}

{% block body %}
<body class="bottom_40">

{% block content %}
<article>
<section>
  	<div class="issue-top">
    	
        <div class="Angel">
        	<div class="blades">
                <div class="Angel-baby"></div>
            </div>
            <h2><img src="{{consumer.picture}}"></h2>
        </div>
        <h3>{{consumer.name}}</h3>
        <style type="text/css">
			.blades{animation: spin 100s linear infinite;}
		</style>
    </div>	
</section>

<section>
    <div class="box-food qbbaise">
    	<ul>
			{% for key, value in good_list.items %}
        	<li>
            	<h4><span class="rfloat"><font class="qbred">{{value.number}}</font>{{value.unit}}</span>{{key}}<span class="box-food-gray">({{value.price}}元/{{value.unit}})</span></h4>
            </li>
			{% endfor %}
            <li>
            	<h4><span class="rfloat"><font class="qbred">{{total_money}}</font>元</span>消费总额</h4>
            </li>
        </ul>
    </div>
	
    <div class="queding">
        <h2 id='weixin' ><input type="button" class="green" value="微信支付" onclick="consumer_pay('{{ajax_request_url}}','{{consumer.open_id}}', '{{total_money}}', '0')"></h2>
		{% if enough_money %}
        <h2 id='wallet'><input type="button" class="bule" value="钱包支付" onclick="consumer_pay('{{ajax_request_url}}','{{consumer.open_id}}', '{{total_money}}', '1')"></h2>
		{% endif %}
    </div>
	
</section>

<script type="text/javascript" src="{{static_url}}js/weixin_pay.js"></script>
</article>
{% endblock %}

{% block menu %}
{% include '_menu.html' %}
{% endblock %}
</body>
{% endblock %}