<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
--><title>我的钱包</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
</head>

<body class="hui_se">
<hgroup>
	<header class="hongbao">
    	<i class="icon-j"><a href="#" target="_parent"></a></i>
        <h4>我的钱包</h4>
    </header>
</hgroup>
<article>

  
  <section>
  	<div class="wallet">
    	<h4>请绑定消费本人的会员号</h4>
        <div class="wallet-new">
        	<h3 class="yibang"><span></span>235212888888</h3>
            <h4><a href="#">解除绑定</a></h4>
        </div>
        <!--<div class="binding"><input type="button" class="green" value="绑定"></div>-->
    </div>
  </section>
  <section>
	<div class="withdrawals">
    	<h4>提现</h4>
        <div class="withdrawals-vip">会员号<span class="bulemo">235212888888</span></div>
        <div class="quota">
        	<h5>提现额度</h5>
            <h4><b class="lfloat">￥</b><i>50</i></h4>
            
        </div>
        <div class="quota-quanbu">
        	<span>当前可提现余额695元，<font class="blueq">全部提现</font></span>
        </div>
    </div>
  </section>
  <section>
  	<div class="carry">
    	24小时内到账
        <!--<input type="button" class="gray" value="提现">-->
        <input type="button" class="green" value="提现">
        <!--可以提现-->
    </div>
  </section>
  
  
<footer id="footer" role="conteninfo">
    	
</footer>
  
</article>


</body>
</html>
