<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">-->
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>结算-微信支付</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="东启湘厨">
<meta name="description" content="东启湘厨">
</head>

<body class="hui_se">



<article>

  
  <section>
  	<div class="xiaofei">
    	<div class="xiaofei-tit">
        	<ul>
            	<li>
                	<h4>菜品</h4>
                    <h5>数量</h5>
                    <span>单价</span>
                </li>
            </ul>
        </div>
        <div class="xiaofei-list">
        	<ul>
                <li>
                	<h4>酸辣蹄花</h4>
                    <h5>1</h5>
                    <span>50元</span>
                </li>
                <li>
                	<h4>酸辣蹄花</h4>
                    <h5>1</h5>
                    <span>50元</span>
                </li>
                <li>
                	<h4>酸辣蹄花</h4>
                    <h5>1</h5>
                    <span>50元</span>
                </li>
                <li>
                	<h4>酸辣蹄花</h4>
                    <h5>1</h5>
                    <span>50元</span>
                </li>
                <li>
                	<h4>酸辣蹄花</h4>
                    <h5>1</h5>
                    <span>50元</span>
                </li>
                <li>
                	<h4>酸辣蹄花</h4>
                    <h5>1</h5>
                    <span>50元</span>
                </li>
                <li>
                	<h4>酸辣蹄花</h4>
                    <h5>1</h5>
                    <span>50元</span>
                </li>
            </ul>
            <div class="clear"></div>
            <div class="zhifukyong">
                <h4><span class="rfloat">￥20</span>可抵扣礼券</h4>
                <h4><span class="rfloat">￥20</span>可用红包</h4>
            </div>
        </div>
    </div>
  </section>
  <section>
  	<div class="bule-mony">
    消费总额：<span class="">152470￥</span>
  	</div>
    <div class="bule">
    	
        <input type="button" class="green" value="微信支付">
    </div>
  </section>
  
  
<footer id="footer" role="conteninfo">
    	
</footer>
  
</article>

</body>
</html>
