{% load static %}
{% load forum_tags i18n %}
{% load wxwraper %}

{% for n in notifications %}
    {% url "wx:wx-comment-find" pk=n.comment.pk as url_topic %}
    <li class="item-content" data-href="{{ url_topic }}">
        {#                    {% url "wx:wx-user-detail" pk=n.comment.user.pk slug=n.comment.user.jf.slug as url_profile %}#}


        <div class="item-media"><img class="img-circle"
                                     src="{{ n.user.jf.picture }}"
                                     width="35"></div>
        <div class="item-inner">
            <div class="item-title-row">
                <div class="item-title">
                    {% if n.is_comment %}
                        跟贴消息
                    {% elif n.is_mention %}
                        提到消息
                    {% else %}
                        消息
                    {% endif %}
                </div>
                <div class="item-after">

                    <small>
                        <time style="margin-left: 15px;" title="{{ n.date }}"
                              datetime="{{ n.date|date:"c" }}" class="timeago"></time>
                        {% if not n.is_read %}
                            <span class="row-unread">&nbsp;&nbsp;<i class="icon icon-red"></i> </span>
                        {% endif %}
                    </small>
                </div>
            </div>
            <div class="item-text">
                {% if n.is_comment %}
                    {% blocktrans trimmed with username=n.comment.user.username topic_title=n.topic.title %}
                        <span href="{{ url_profile }}">{{ username }}</span> has commented on
                        <a href="{{ url_topic }}">{{ topic_title }}</a>{% endblocktrans %}
                {% elif n.is_mention %}
                    {% blocktrans trimmed with username=n.comment.user.username topic_title=n.topic.title %}
                        <span href="{{ url_profile }}">{{ username }}</span> has mention you on
                        <a href="{{ url_topic }}">{{ topic_title }}</a>{% endblocktrans %}
                {% else %}
                    无
                {% endif %}
            </div>
        </div>
    </li>
{% endfor %}
{% if notifications|length > 0 %}
    <script>
    jQuery("time.timeago").timeago();
    </script>
{% endif %}