{% load forum_tags i18n %}
{% load static %}

<style>
    .comment{
        margin-bottom: 20px;
    }

    .admin_guanli_list{
        background: inherit;
    }
    .comment-username, .new-topic {
        float: inherit!important;
    }
    .comment-date {
        float: inherit!important;
    }
    .comment, .row {
        padding: 0!important;
        border-top: inherit;
    }
    .titlebar{
        background: #f7f7f4;
        padding: 10px;
    }
    .comment-text{
        margin: 5px 5px 5px 85px;
        font-size: 14px;
        font-size:1rem;
    }

    .comment-actions li{
        font-size: 0.8rem!important;
    }

    .comment:last-child, .row:last-child {
        border-bottom: inherit;
    }

    .comment-info {
        margin-bottom: inherit;
    }

    .comment-username a{
        font-size: 14px;
        font-size: 1rem;
        color: #97b734;
        font-weight:bold;
    }

    .comment-date{
        color: #919191;
    }

    .comment-date li{
        font-size: 12px;
        font-size:0.8rem;
    }

    .imagelist{
        margin-left: 80px;
    }
</style>

<div class="comments">

    {% for c in comments %}

        <div class="comment{% if c.action %} is-highlighted{% endif %}">
{#             id="c{{ forloop.counter0|add:comments.start_index }}"#}
{#             data-number="{{ forloop.counter0|add:comments.start_index }}" data-pk="{{ c.pk }}">#}

            {% if not c.is_removed %}

                <div class="comment-media">
                    <div class="titlebar">
                        <div class="comment-img">
                            <img class="comment-avatar" src="{{ c.user.jf.picture }}" style="width: 50px;width: 50px;border-radius: 50%">
                        </div>
                        <div class="comment-info">

                            <div class="comment-username">
                                <a class="username{% if c.user.jf.is_administrator %} is-admin{% elif c.user.jf.is_moderator %} is-mod{% endif %}"
                                   href="#">{{ c.user.jf.name }}</a><span
                                    class="comment-realname">{{ c.user.get_full_name }}</span>
                            </div>

                            <ul class="comment-date">
                                {% if c.modified_count > 0 %}
                                    <li><a href="{% url "comment:history:detail" comment_id=c.pk %}"><i
                                            class="fa fa-pencil"></i> {{ c.modified_count }}</a></li>
                                {% endif %}

                                <li title="{{ c.date }}">{{ c.date|date:"Y-m-d" }}</li>
                            </ul>

                        </div>
                    </div>


                    <div class="comment-body">

                        <div class="comment-text">
                            {% if not c.action %}
                                {% post_render_comment comment=c %}
                            {% else %}
                                <p>{% get_comment_action_text c.action %}.</p>
                            {% endif %}
                        </div>
                        <ul class="imagelist">
                            {% for image in c.imagelist %}
                                <li>
                                    <img src="{{ image.imageurl }}">
                                </li>
                            {% endfor %}
                            <div style="clear: both;"></div>
                        </ul>
                    </div>
                </div>

                {% if not c.action %}
                    <ul class="comment-actions">
                        {% if user.jf.is_seller %}
                            {% ifnotequal c.user user %}
                            {% if c.gift %}
                                <li><a data-href="/manager/account/send_coupon/" href="javascript:void(0);" cid="{{ c.id }}"
                                   ,tcid="{{ c.topic.id }}" openid="{{ c.user.jf.open_id }}"
                                   class="sendgift" sent="1"><i class="fa fa-gift"></i> 礼券（已发）</a></li>
                                {% else %}
                            <li><a data-href="/manager/account/send_coupon/" href="javascript:void(0);" cid="{{ c.id }}"
                                   ,tcid="{{ c.topic.id }}" openid="{{ c.user.jf.open_id }}"
                                   class="sendgift" sent="0"><i class="fa fa-gift"></i> 礼券</a></li>
                                {% endif %}
                            {% endifnotequal %}
                        {% endif %}

                        {% if user.is_authenticated %}
                            {% if user.jf.is_moderator %}
                                <li><a href="/manager/forum{% url "comment:delete" c.pk %}"><i
                                        class="fa fa-times"></i> {% trans "delete" %}</a></li>
                            {% endif %}

                            {#                            <li><a href="{% url "comment:flag:create" c.pk %}"><i class="fa fa-flag"></i> {% trans "report" %}</a></li>#}
                        {% endif %}

                        {#                        <li><a class="js-share" href="#" data-dialog=".js-share-{{ c.pk }}"><i class="fa fa-share"></i> {% trans "share" %}</a></li>#}

                        {% if user.is_authenticated %}
                            {% if c.like %}
                                <li class="comment-like"><a class="js-like"
                                                            href="{% url "comment:like:delete" c.like.pk %}"
                                                            data-count="{{ c.likes_count }}"><i
                                        class="fa fa-heart"></i> {% trans "remove like" %} ({{ c.likes_count }})</a>
                                </li>
                            {% else %}
                                {% ifnotequal c.user user %}
                                    <li class="comment-like"><a class="js-like" class="like"
                                                                href="{% url "comment:like:create" c.pk %}"
                                                                data-count="{{ c.likes_count }}"><i
                                            class="fa fa-heart"></i> {% trans "like" %} ({{ c.likes_count }})</a></li>
                                {% else %}
                                    <li class="comment-like"><i class="fa fa-heart"></i> ({{ c.likes_count }})</li>
                                {% endifnotequal %}
                            {% endif %}

                            {% if user.jf.is_moderator or c.user.pk == user.pk %}
                                <li><a href="{% url "forum_comment_update" pk=c.pk %}">{% trans "edit" %}</a></li>
                            {% endif %}

                        {% endif %}
                    </ul>
                {% endif %}

            {% else %}

                <div class="comment-media">
                    <div class="titlebar">
                        <div class="comment-img">
                            <img class="comment-avatar" src="{{ c.user.jf.picture }}" style="width: 50px;width: 50px;border-radius: 50%">
                        </div>
                        <div class="comment-info">

                            <div class="comment-username">
                                <a class="username{% if c.user.jf.is_administrator %} is-admin{% elif c.user.jf.is_moderator %} is-mod{% endif %}"
                                   href="#">{{ c.user.jf.name }}</a><span
                                    class="comment-realname">{{ c.user.get_full_name }}</span>
                            </div>

                            <ul class="comment-date">
                                {% if c.modified_count > 0 %}
                                    <li><a href="{% url "comment:history:detail" comment_id=c.pk %}"><i
                                            class="fa fa-pencil"></i> {{ c.modified_count }}</a></li>
                                {% endif %}

                                <li title="{{ c.date }}">{{ c.date|date:"Y-m-d" }}</li>
                            </ul>

                        </div>
                    </div>

                    <div class="comment-body">

                        <div class="comment-text">
                            {% if user.jf.is_moderator %}
                                {{ c.comment_html|safe }}
                            {% else %}
                                {% trans "This comment was deleted" %}.
                            {% endif %}
                        </div>
                        <ul class="imagelist">
                            {% for image in c.imagelist %}
                                <li>
                                    <img src="{{ image.imageurl }}">
                                </li>
                            {% endfor %}
                            <div style="clear: both;"></div>
                        </ul>
                    </div>
                </div>


                {% if user.jf.is_moderator %}
                    <ul class="comment-actions">
                        <li><a href="/manager/forum{% url "comment:undelete" c.pk %}"><i
                                class="fa fa-times"></i> {% trans "undelete" %}</a></li>
                    </ul>
                {% endif %}

            {% endif %}

        </div>

    {% endfor %}

</div>

<script type='text/javascript' src='{% static "js/jquery.cookie.js" %}' charset='utf-8'></script>
<script>


    $(document).ready(function () {

        {% if user.is_authenticated %}
            $('.js-like').like({
                csrfToken: "{{ csrf_token }}",
                likeText: "{% trans "like" %} ({count})",
                removeLikeText: '{% trans "remove like" %} ({count})',
            });

            $(".sendgift").on('click', function () {
                var sent = $(this).attr("sent");
                if (sent == "1") {
                    alert("礼券已发！");
                    return;
                }
                var href = $(this).attr('data-href');
                var openid = $(this).attr("openid");
                var cid = $(this).attr("cid");
                var tcid = $(this).attr("tcid");
                var data = {'open_id': openid, 'action': "send_ticket", 'cid': cid, 'tcid': tcid};
                var scope = this;
                $.ajax({
                    type: 'POST',
                    url: href,
                    beforeSend: function (xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data.state == 0) {
                            $(scope).html('<i class="fa fa-gift"></i> 礼券（已发）');
                            $(scope).attr("sent", 1);

                            $.ajax({
                                type: 'POST',
                                url: "/comment/addgift/"+cid+"/",
                                beforeSend: function (xhr, settings) {
                                    var csrftoken = $.cookie('csrftoken');
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                },
                                data: {},
                                dataType: 'json',
                                success: function (data) {
                                    if (data.state == -1) {
                                        alert("保存发送礼券数据出错！请联系管理员！");
                                    }
                                }
                            });

                        }
                    }
                });
            });
        {% endif %}

        hljs.initHighlightingOnLoad();

    });

</script>
