@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
	color:#2a2a2a;
	font:1.25em STHeiti,"Microsoft YaHei",Arial,SimSun,"微软雅黑";
	line-height:1.8;
	background:#ffffff;
}
article,section {
	padding:0;
	margin:0;
}
ul, li, input, select, textarea {
	margin:0;
	padding:0;
	font:18px STHeiti,"Microsoft YaHei",Arial,SimSun;/
}
input, select, textarea {
	border:0;outline:none !important;/*去除蓝色边框*/	
}
input:focus {
    outline:none;
	border:none;
}

form {
    border: medium none;
    font-style: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table, tr, th, td {
	padding:0;
}
.box-food-gray {
	color:#6d6d6d;
	font-size:0.875em;
}
textarea {
	vertical-align:middle;
}
ul, li {
	list-style:none;}
h1,h2,h3,h4,h5,h6,iframe {
	margin:0;
	padding:0;
}
img {
	border:0 none;
}

p{padding:0; margin:0;}
a{
	text-decoration:none;
	color:#424242;
	outline:none;
	/*cursor: crosshair;*/
	-webkit-tap-highlight-color:rgba(255,0,0,0);/*去蓝色边框*/
}
/*a:visited*/
a:link, a:active{
	text-decoration: none;
	/*color:#d4372c;*/
	star:expression(this.onFocus=this.blur());
	/*cursor: crosshair;*/
	-webkit-tap-highlight-color:rgba(255,0,0,0);/*去蓝色边框*/
}
a:hover {
	color:#d4372c;
}

.clear{ clear:both;}
.lfloat {
	float:left;
}
.rfloat {
	float:right;
}
td,tr,table {
	/*border-collapse:collapse;*/
	/*border:none;*/
}
.f_huangse {
	color:#fffc00;
	}
.box_auto {
	width:100%;
}
.tj_main {
	width:1012px;
	margin:0px auto;
}
.font_admin_ren {
	color:#F00;
}
.font_admin_626261 {
	color:#626261;
}
/*苹果手机按钮无色*/
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 
.red_q {
	background:#939598;
}
.red_cen {
background-color:#939598;
}
.hui_se {
background:#e1e1e1;
}

/*去除文本小箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}

/*=========单选按钮开始==========*/
.regular-checkbox {
	display: none;
}
.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label {
	background-color: #f5f4f4;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
.big-checkbox + label {
	padding: 18px;
}
.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}
.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}
.radio-1 {
	width: 193px;
}
.button-holder {
	float: left;
}
/* RADIO */

.regular-radio {
	display: none;
}
.regular-radio + label {
	-webkit-appearance: none;
	background-color: #f5f4f4;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}
.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.big-radio + label {
	padding: 16px;
}
.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}
/*=========单选按钮====结束======*/

/*=========留言隐藏====开始======*/
.am-share {
	font-size:14px;
	position: fixed;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 300ms;
	transition: transform 300ms ;
	width: 100%;
	z-index: 9990;
	border-top:#e2e2de 1px solid;
	bottom:0;
	left: 0;
}
.am-modal-active {
	transform: translateY(0px);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.am-modal-out {
	z-index: 9999;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.am-share-title {
	background-color: #ffffff;
	border-bottom: 0px solid #fff;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	color: #555; 
	font-weight: 400; 
	margin: 0 0px; 
	padding: .625em 0 0 .625em;
	text-align: center;
}
.am-share-title h3 {
	padding:0;
	margin:0;
	text-align: center;
}
.am-share-title::after {
	border-bottom: 1px solid #ffffff;
	content: "";
	display: block;
	height: 0;
	margin-top: 5px;
	width: 100%;
}

.sharebg {
	background-color: rgba(0, 0, 0, 0.0);
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1100;
	display: none; 
}
.sharebg-active {
	opacity: 1;
	display:block;
}
input.blankin {
	height:1.8em;
	border:#333 0px solid;
	border-bottom:#e8e8e5 1px solid;
	margin:0 0 .2em 0;
	width:75%;
	font-size:.9em;
	color:#494848;
	float:left;
}
input.blankin:hover {
	border-bottom:#a0d578 1px solid;
}
input.blankiny {
	height:1.8em;
	border:#333 0px solid;
	border-bottom:#e8e8e5 1px solid;
	margin:0 0 .2em 0;
	width:80%;
	font-size:1em;
	color:#494848;
	display:none;
}
input.blankiny:hover {
	border-bottom:#a0d578 1px solid;
}
input.send_out {
	height:2.2em;
	border:#333 0px solid;
	border-radius:.25em;
	margin:0 0 0 .3em;
	width:18%;
	font-size:.8em;
	color:#ffffff;
	background-color: #5abd22;
	display: block;
}

/*=========留言隐藏====结束======*/

/*=========生成券====开始======*/
.reveal-modal-bg{position:fixed;height:100%;width:100%;background-color:#000;z-index:100;display:none;top:0;left:0;}
.reveal-modal{visibility:hidden;top:35%;width:88%;left:50%;margin-left:-44%;background:#eee;position:absolute;z-index:101;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 10px rgba(0,0,0,.2);-webkit-box-shadow:0 0 10px rgba(0,0,0,.2);-box-shadow:0 0 10px rgba(0,0,0,.2);}
.reveal-modal .close-reveal-modal {
font-size:22px; font-weight:normal;line-height:.5;position:absolute;top:8px;right:11px;color:#aaa;text-shadow:0 -1px 1px rbga(0,0,0,.6);cursor: crosshair;text-decoration:none;}
.reveal-modal h2{font-size:1.2em;color:#b6d554;padding:0 0 10px 0; font-weight:normal;/*word-spacing:5px;*/ letter-spacing: .1em; text-align:center;}
.reveal-modal h4 {
	padding:0;
	margin:0;
	font-weight:normal;
}
.reveal-modal h4 p{padding:0;font-size:1.5em; border-bottom:#b6d554 1px solid; margin:0 0 .5em 8%; width:22%; text-align:center; float:left;}
.reveal-modal h3 {
	text-align:center;
	font-weight:normal;
	float:left;
	font-size:1.5em;
	width:100%;
	margin:0 0 1em 0;
	color:#e0660c;
}
input[data-reveal-id] {
	cursor:crosshair;
	text-decoration:none;
}
/*=========生成券====结束======*/
input {
	cursor:crosshair;
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
	/*去掉点击时出现蓝色边框*/
}
/*span onClick {
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
	outline:none;
	outline-style:none; -moz-outline-style: none;
}*/

/*=========底部导航====开始=新增2016.05.03=====*/


.bottom_40 {
	margin:0 0 40px 0;
}
#menu{position:fixed;bottom:0px;width:100%;height:44px;line-height:44px;z-index:999;background:url(../images/menubg.png) repeat-x;}
#menu ul{margin:0 auto;list-style-type:none;width:100%;max-width:500px;height:100%;}
#menu ul li{float:left;width:25%;height:100%;text-align:center;position:relative;font-size:15px;}
#menu ul li .line{position:absolute;top:1px;right:0px;z-index:30;}
#menu ul li .menu_li{position:absolute;top:0px;left:0px;z-index:20;width:100%;height:100%;color:#454545;background:url(../images/menubg.png) repeat-x; padding:.8em 0 0 0;}
#menu ul li .img_front{position:absolute;top:0px;left:0px;z-index:30;width:100%;height:100%;}
#menu ul li .img_front img{width:100%;height:100%;}
#menu ul li span{position:absolute;bottom:-300px;left:50%;width:90px;margin-left:-45px;margin-bottom:6px;height:auto;text-align:center;z-index:10;}
#menu ul li span div{position:absolute;top:0px;left:0px;}
#menu ul li span a{float:left;width:100%;height:37px;line-height:37px;color:#454545;text-decoration:none;}

.footer_front{position:fixed;width:100%;height:100%;top:0px;left:0px;z-index:888;display:none;}

/*.btn3{
	position:fixed;
  z-index:900;
  bottom:0px;
  border-top:1px solid #b3b3b3;
  background:#e6e6e6;
  width:100%;
  text-align:center;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }
.menu{
	position:relative;
    float:left;
    width:25%;
    height:40px;
    line-height:40px;
    background:#fff;
    border-right:1px solid #ebebeb;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.menu:last-child{
	border-right:none;
}
.new-sub{
	position:absolute;
	bottom:50px;
	z-index:901;
	width:100%;
	padding: 0px 5px;
	background: #fff;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	display:none;
}
.new-sub li{
	width: 100%;
	background:#fff;
	float:none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-bottom:1px solid #f2f2f2;
}
.new-sub li:last-child{
	border-bottom:0px solid #f2f2f2;
}
.new-sub li a{
	display:block;
	height:40px;
	line-height:40px;
	text-align:left;
	background:#fff;
	color:#333;
	border:none;
	text-align:center;
	font-size:16px;
}
.sanjiao{
	position:absolute;
	bottom:5px;
	right:5px;
	width:0;height:0;
	border:5px solid transparent;
	border-right:5px solid #000;
	border-bottom:5px solid #000;
	opacity:.5;
}
.bt-name{
	font-size:16px;
	color:#000;
}
.bt-name a{
	display:block;
	font-size:16px;
	color:#000;
}
.new-sub .tiggle{
	width:0px;
	height:0px;
	position:absolute;
	left:50%;
	margin-left:-10px;
	bottom:-9px;
	border-top:10px solid #EEEEEE;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	z-index:901;
}
.new-sub .innertiggle{
	width:0px;
	height:0px;
	position:absolute;
	left:50%;
	margin-left:-9px;
	bottom:-8px;
	border-top:9px solid white;
	border-left:9px solid transparent;
	border-right:9px solid transparent;
	z-index:902;
}
*//*=========底部导航====结束=新增2016.05.=====*/

/*--弹窗样式-新2016.05.5-*/
#gray{width:100%;height:100%;background:rgba(0,0,0,0.3);position:fixed;top:0px;display:none;z-index:99;}
/*--弹窗样式-新2016.05.5-、、结束、、、*/

/*=========排行榜点击加载更多====开始=新增2016.05.06=====*/
.hide{
	display: none;
}
.load .more{
	padding:.8em;
	text-align: center;
	letter-spacing:.2em;
}
.load ul.list {
	background:url(../images/Alpha.png);
}
.more p{
	padding:.5em .6em;
	color:#666666;
	margin:0 auto;
	background:#e6e5e3;
	text-align:center;
	border-radius:10px;
}
.load .more a{
	display: block;
	padding:.5em .6em;
	color:#fff;
	margin:0 auto;
	background:#b6d554;
	text-align:center;
	border-radius:10px;
}
.load .more a:hover{
	text-decoration: none;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b6d554,endColorStr=#a2c33b);
	background: -ms-linear-gradient(top, #b6d554, #a2c33b); /* IE 10 */
	background:-moz-linear-gradient(top, #b6d554, #a2c33b);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b6d554), to(#a2c33b));/*谷歌*/ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b6d554), to(#a2c33b));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #b6d554, #a2c33b);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #b6d554, #a2c33b);  /*Opera 11.10+*/
	color: #ffffff;
}
/*=========排行榜点击加载更多====结束=新增2016.05.06=====*/

/*404左右摇摆*/
	.swing{
    -webkit-animation:swinging 10s ease-in-out 0s infinite;
    -moz-animation:swinging 10s ease-in-out 0s infinite;
    animation:swinging 10s ease-in-out 0s infinite;
	
    -webkit-transform-origin:50% 0;
    -moz-transform-origin:50% 0;
    transform-origin:50% 0;
}
 
@-webkit-keyframes swinging{
    0% { -webkit-transform: rotate(0); }
    5% { -webkit-transform: rotate(10deg); }
    10% { -webkit-transform: rotate(-9deg); }
    15% { -webkit-transform: rotate(8deg); }
    20% { -webkit-transform: rotate(-7deg); }
    25% { -webkit-transform: rotate(6deg); }
    30% { -webkit-transform: rotate(-5deg); }
    35% { -webkit-transform: rotate(4deg); }
    40% { -webkit-transform: rotate(-3deg); }
    45% { -webkit-transform: rotate(2deg); }
    50% { -webkit-transform: rotate(0); } /* Come to rest at 50%. The rest is just stillness */
    100% { -webkit-transform: rotate(0); }
}
 
@-moz-keyframes swinging{
    0% { -moz-transform: rotate(0); }
    5% { -moz-transform: rotate(10deg); }
    10% { -moz-transform: rotate(-9deg); }
    15% { -moz-transform: rotate(8deg); }
    20% { -moz-transform: rotate(-7deg); }
    25% { -moz-transform: rotate(6deg); }
    30% { -moz-transform: rotate(-5deg); }
    35% { -moz-transform: rotate(4deg); }
    40% { -moz-transform: rotate(-3deg); }
    45% { -moz-transform: rotate(2deg); }
    50% { -moz-transform: rotate(0); } /* Come to rest at 50%. The rest is just stillness */
    100% { -moz-transform: rotate(0); }
}
 
@keyframes swinging{
    0% { transform: rotate(0); }
    5% { transform: rotate(10deg); }
    10% { transform: rotate(-9deg); }
    15% { transform: rotate(8deg); }
    20% { transform: rotate(-7deg); }
    25% { transform: rotate(6deg); }
    30% { transform: rotate(-5deg); }
    35% { transform: rotate(4deg); }
    40% { transform: rotate(-3deg); }
    45% { transform: rotate(2deg); }
    50% { transform: rotate(0); } /* Come to rest at 50%. The rest is just stillness */
    100% { transform: rotate(0); }
}

/*404左右摇摆==结束=*/

/*阴影
shadow::before {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%) repeat scroll 0 0;
    content: "";
    height: 10px;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
    width: 90%;
    z-index: -1;
}
*===/




