@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
	color:#2a2a2a;
	font:1.25em STHeiti,"Microsoft YaHei",Arial,SimSun,"微软雅黑";
	line-height:1.8;
	background:#f7f7f4;
}
ul, li, input, select, textarea {
	margin:0;
	padding:0;
	font:18px STHeiti,"Microsoft YaHei",Arial,SimSun;
}
form {
    border: medium none;
    font-style: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table, tr, th, td {
	padding:0;
}
.box-food-gray {
	color:#6d6d6d;
	font-size:0.675em;
}
textarea {
	vertical-align:middle;
}
ul, li {
	list-style:none;}
h1,h2,h3,h4,h5,h6,iframe {
	margin:0;
	padding:0;
}
img {
	border:0 none;
}

p{padding:0; margin:0;}
a{ text-decoration:none; color:#242422;}
a:hover{ text-decoration:underline; color:#d4372c;}
.clear{ clear:both;}
.lfloat {
	float:left;
}
.rfloat {
	float:right;
}
td,tr,table {
	border-collapse:collapse;
	border:none;
}
.box_auto {
	width:100%;
}
.tj_main {
	width:1012px;
	margin:0px auto;
}
/*苹果手机按钮无色*/
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 
.red_q {
	background:#f8292f;
}
.red_cen {
background-color:#d74f43;
}
.hui_se {
background:#e1e1e1;
}

/*去除小箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}

/*=========单选按钮开始==========*/
.regular-checkbox {
	display: none;
}
.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label {
	background-color: #f5f4f4;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
.big-checkbox + label {
	padding: 18px;
}
.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}
.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}
.radio-1 {
	width: 193px;
}
.button-holder {
	float: left;
}
/* RADIO */

.regular-radio {
	display: none;
}
.regular-radio + label {
	-webkit-appearance: none;
	background-color: #f5f4f4;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}
.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.big-radio + label {
	padding: 16px;
}
.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}
/*=========单选按钮====结束======*/
