<!doctype html>
<html>
{% include "header.html" %}

<body>
<article class="admin_80">
    <section>
    	<div class="right_award_box">
        	<div class="admin_detailed_tit">

                {% if bonus.consumer %}
                <h2><img src="{{ bonus.consumer.picture }}" align="absmiddle"></h2>
                {% else %}
            	<h2><img src="/static/images/angelababy.png" align="absmiddle"></h2>
                {% endif %}
                <h4>{{ bonus.consumer.name }}发出的红包</h4>
                <p>{{ bonus.to_message }}</p>
            </div>
            <div class="admin_detailed_list">
                <p>发出{{ bonus.bonus_num }}个&nbsp剩余{{ bonus.bonus_remain }}个</p>
                <ul>
                    {% for recv_bonus in recv_bonus_list %}
                   
                	<li class="detailed_heiht">
                    <h4>
                    
                   		<p style="text-align:left;">
                   		<img src="{{ recv_bonus.consumer.picture }}" align="absmiddle">
                        <span>{{ recv_bonus.consumer.name }}</span>
                        </p>
                        <p><font size="-1" color="#afacaa">{{ recv_bonus.datetime|date:"Y-n-j H:i:s" }}</font></p>
                        <p>串串<font color="orange">{{recv_bonus.number}}</font>个</p>
                         
                    </h4>
                    </li>
                    {% endfor %}
                    
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </section>    
</article>
</body>
</html>
