<!doctype html>
{% extends 'base.html' %}
{% block left_frame %}
<div class="left-frame">
    <div class="left-f-title">红包统计</div>
    <div class="left-f-content">
        <ul id="menu">
                <li><span class="menu-list"><img src="/static/images/admin/fa.png" align="absmiddle">
                    <a href="{% url 'send_bonus_list' %}" target="mainFrame">已发出</a></span></li>
                <li><span class="menu-list"><img src="/static/images/admin/qiang.png" align="absmiddle">
                    <a href="{% url 'recv_bonus_list' %}" target="mainFrame">已抢到</a></span></li>
                <li><span class="menu-list"><img src="/static/images/admin/flying.png" align="absmiddle">
                    <a href="{% url 'flying_bonus_list' %}" target="mainFrame">正在飞</a></span></li>
            <li><span class="menu-list"><img src="/static/images/admin/ranking.png" align="absmiddle">
                <a href="{% url 'bonus_rank_list' %}" target="mainFrame">排行榜</a>
            </span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}


{% block right_frame %}
<div class="right-frame">
    <div class="right-f-title">
        <b>当前位置：</b>红包信息
    </div>
    <iframe id="mainFrame" name="mainFrame" src="{% url 'send_bonus_list' %}"  frameborder="0" ></iframe>
</div>
{% endblock %}
