<!doctype html>
<html>
{% include "header.html" %}

<body>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="admin_detailed_tit">

                {% if bonus.consumer %}
                <h2><img src="{{ bonus.consumer.picture }}" align="absmiddle"></h2>
                {% else %}
            	<h2><img src="/static/images/angelababy.png" align="absmiddle"></h2>
                {% endif %}
                <h4>{{ bonus.consumer.name }}发出的红包</h4>
                <p>{{ bonus.to_message }}</p>
            </div>
            <div class="admin_detailed_list">
                <p>发出{{ bonus.bonus_num }}个({{ content }})，剩下{{ bonus.bonus_remain }}个({{ remain_content }})</p>
                <ul>
                    {% for recv_bonus in recv_bonus_list %}
                	<li>
                    <h4><span class="rfloat">{{recv_bonus.number}}</span>
                        <img src="{{ recv_bonus.consumer.picture }}" align="absmiddle">
                        <span>{{ recv_bonus.consumer.name }}</span>
                    </h4>
                    </li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </section>    
</article>
</body>
</html>
