<html>
{% include "header.html" %}

<body>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="award_box_title">抢红包</div>
            <div class="award_box_content">
                <table cellspacing="2" cellpadding="0" class="tab-add" id="tab-color">
                  <tr>
                    <th width="20%">顾客</th>
                    <th width="20%">类型</th>
                    <th width="20%">红包</th>
                    <th width="20%">状态</th>
                    <th width="20%">操作</th>
                  </tr>

                  {% for bonus in bonus_list %}
                  <tr class="table_new_h">
                      <td class="color_a"><span class="table_new_head"><img src="{{bonus.consumer.picture}}" align="absmiddle"></span>{{ bonus.consumer.name }}</td>
                      {% ifequal bonus.bonus_type 0 %}
                      <td class="color_b">普通红包</td>
                      {% else %}
                      {% ifequal bonus.bonus_type 1 %}
                      <td class="color_b">手气红包</td>
                      {% else %}
                      {% ifequal bonus.bonus_type 2 %}
                      <td class="color_b">系统红包</td>
                      {% endifequal %}
                      {% endifequal %}
                      {% endifequal %}
                    <td class="color_b">{{ bonus.snd_bonus.consumer.name }}的红包</td>
                    {% if bonus.is_refuse %}
                    <td class="color_b">已拒绝</td>
                    {% else %}
                    <td class="color_b">已接收</td>
                    {% endif %}
                    <td><img src="/static/images/admin/edit.png" align="absmiddle">
                        <a href="{% url 'bonus_detail' %}?type=recv&bonus_id={{ bonus.id_bonus }}" class="color_a" target="mainFrame">查看详情</a>
                    </td>
                  </tr>
                  {% endfor %}

                </table>
            </div>
        </div>
    </section>
<script language="JavaScript">
var TbRow = document.getElementById("tab-color");
if (TbRow != null)
{
for (var i=0;i<TbRow.rows.length ;i++ )
{
if (TbRow.rows[i].rowIndex%2==1)
{
TbRow.rows[i].style.backgroundColor="#ffffff";
}
else
{
TbRow.rows[i].style.backgroundColor="#f7f7f4";
}
}
}
</script>    
</article>
</body>

</html>
