<!doctype html>
<html>
{% include 'header.html' %}

<body onload="init_menu('menu');">
<article>
	<header class="admin_top">
    	<h4>
            您好！&nbsp;<font class="redse">{{ current_user.username }}</font>&nbsp;
            [<a href="{% url 'logout' %}">退出系统</a>]
        </h4>
    </header>
    <nav class="navlist navc">
            <ul>
                <li><a href="{% url 'account' %}">账户设置</a></li>
                <li><a href="{% url 'basic' %}">店内配置</a></li>
                <!--<li><a href="{% url 'dining' %}">用餐统计</a></li> -->
                <li><a href="{% url 'bonus_info' %}">红包统计</a></li>
                <li><a href="#">论坛</a></li>
            </ul>
    </nav>
    
    <section>
        {% block left_frame %}
    	<div class="left-frame">
        	<div class="left-f-title">红包统计</div>
            <div class="left-f-content">
            	<ul id="menu">
                	<li><span class="menu-list"><img src="../images/admin/tit_hongbao.png" align="absmiddle">红包</span>
                     	<ul class="menu-undis">
                        	<li><span class="menu-l-s"><a href="award_a_bonus_list.html" target="mainFrame">发出的红包</a></span></li>
                        	<li><span class="menu-l-s"><a href="get_red_packets_list.html" target="mainFrame">接收的红包</a></span></li>
                            <li><span class="menu-l-s"><a href="red_packets_on_the_way_list.html" target="mainFrame">接收的红包</a></span></li>
                        </ul>
                     </li>
                </ul>
            </div>
        </div>
        {% endblock  %}

        {% block right_frame %}
        <div class="right-frame">
            <div class="right-f-title">
                <b>当前位置：</b><a href="index.html" target="mainFrame">管理首页</a> > 发出的红包
            </div>
            <iframe id="mainFrame" name="mainFrame" src={{ main_frame_url }}  frameborder="0" ></iframe>
        </div>
        {% endblock  %}
    </section>
    </article>

    {% block script_src %}{% endblock %}

</body>
</html>
