<!doctype html>
<head>
<meta charset="utf-8">
<title>趣八八后台管理首页</title>
<link href="/static/css/common.css" rel="stylesheet" type="text/css">
<link href="/static/css/admin/admin.css" rel="stylesheet" type="text/css">
<link href="/static/css/admin/showBo.css" rel="stylesheet" type="text/css">

<meta name="keywords" content="趣八八">
<meta name="description" content="趣八八">
<script type="text/javascript" src="/static/js/menu.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.2.6.js"></script>
<script type="text/javascript" src="/static/js/jquery.funkyUI.js"></script>
<script type="text/javascript" src="/static/js/showBo.js"></script>
</head>
