<!doctype html>
<html>

{% include 'header.html' %}

<body>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="award_box_title">修改</div>
            <div class="award_box_content">
                <div class="modify_password">
                	<form action="add_iten.html" method="get">
                	<ul>
                    	<li>
                        	<h4>名称</h4>
                            <span><input type="text" class="admin_pass" value="串串"></span>
                        </li>
                        <li>
                        	<h4>价格</h4>
                            <span><input type="text" class="admin_pass" value="15"></span>
                        </li>
                       
                        <li>
                        	<h4>&nbsp;</h4>
                            <span>
                                <input type="submit" class="admin_save" value="提交">
                                
                            </span>
                        </li>
                        
                    </ul>
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>    
    
    
</article>

</body>
</html>
