<!doctype html>
<html>
{% include 'header.html' %}
<body>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="award_box_title">验券</div>
            <div class="admin_guanli_list admin_guanli_w1000">
            	<div class="admin_guanli_list_tit">
                	<ul>
                    	<li class="admin_guanli_w106">名称</li>
                        <li class="admin_guanli_w460">输入券码</li>
                        <li class="admin_guanli_w430">券值</li>
                    </ul>
                </div>
                <div class="admin_guanli_list_content">
                	<ul>
                        <li>
                            <h4 class="w106">验券</h4>
                            <p class="w461"><input type="number" id="ticket_id" class="admin_pass"></p>
                            <span class="w430"><input type="button" id='ticket_value' class="coupon_value" value=""></span>
                        </li>
						<li class="admin_guanli_w998">
							<input type="button" class="admin_save" id="save" value="验券">
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
			<div class="code">
            	<h4>验证码：<span id='auth_code'>{{auth_code}}</span></h4>
            </div>
			<div class="award_box_title">清桌</div>
            <div class="admin_guanli_list admin_guanli_w1000">
            	<div class="admin_guanli_list_tit">
                	<ul>
                        <li class="admin_guanli_w460">输入桌号</li>
                        <li class="admin_guanli_w536">清桌</li>
                    </ul>
                </div>
                <div class="admin_guanli_list_content">
                	<ul>
                        <li>
                            <p class="w461"><input type="number" id='table' class="admin_pass"></p>
                            <span class="w536"><input type="button" id='clean_table' class="admin_save" value="清桌"></span>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </section>    
</article>

<script>
 $("#save").click(function(){
    var ticket_id = $("#ticket_id").val();

    if( ticket_id!="")
    {
    $.post("{% url 'check_consumer_code' %}", {'ticket_code':ticket_id},function(data){
        if(data.state==0){
                	Showbo.Msg.alert("成功:" + data.message);
					var ticket_value = data.ticket_value + '元';
					$("#ticket_value").val(ticket_value);
                }else{
                    Showbo.Msg.alert("失败:" + data.message);
					$("#ticket_value").val(data.message);
                }
                }, "json");
    }
    else{
        Showbo.Msg.alert("输入出错")
    }
});

$("#clean_table").unbind('click').click(function(){
	var table = $("#table").val()
	
	if(table)
	{
		$.post("{% url 'release_dining_table' %}", {"table":table}, 
			function(data, status)
			{
				if(status == 'success')
				{
					Showbo.Msg.alert("已清桌")
				}
			}, "json");
	}
	else{
		Showbo.Msg.alert("输入出错")
	}
	
});

$(document).ready(function(){
	var timer = setInterval(function(){
		$.post("{% url 'get_auth_code' %}",function(data, status){
			if(status == 'success'){
				var data = JSON.parse(data);
				$('#auth_code').text(data.auth_code);
			}
		});
	}, 120000);
});

</script>


</body>
</html>
