<!doctype html>
{% extends 'base.html' %}

{% block left_frame %}
    	<div class="left-frame">
        	<div class="left-f-title">管理员</div>
            <div class="left-f-content">
            	<ul id="menu">
                    <li><span class="menu-list"><img src="/static/images/admin/account.png" align="absmiddle">
                    <a href="{% url 'sys_account' %}" target="mainFrame">帐户</a></span></li>

                    <li><span class="menu-list"><img src="/static/images/admin/fa.png" align="absmiddle">
                    <a href="{% url 'create_bonus' %}" target="mainFrame">发红包</a></span></li>

                    <li><span class="menu-list"><img src="/static/images/admin/setting.png" align="absmiddle">设置</span>
                    <ul class="menu-undis">
                    <li><span class="menu-l-s"><a href="{% url 'tables_info' %}" target="mainFrame">桌</a></span></li>
                    <li><span class="menu-l-s"><a href="{% url 'goods_info' %}" target="mainFrame">物品</a></span></li>
                    </ul>
                </ul>
            </div>
        </div>
{% endblock %}
        
{% block right_frame %}
        <div class="right-frame">
          <div class="right-f-title">
              <b>当前位置：</b>管理员
          </div>
          <iframe id="mainFrame" name="mainFrame" src="{% url 'sys_account'%}"  frameborder="0" ></iframe>
        </div>
{% endblock %}
