<!doctype html>
<html>
{% include 'header.html' %}

<body>
<article>
    <section>
    	<div class="right_award_box">
            <div class="award_box_title"><span class="rfloat"><img src="/static/images/admin/admin_08.png" align="absmiddle"><a href="{% url 'table_item_edit' %}" class="color_a" target="mainFrame">添加桌</a></span>趣八八串串列表</div>
            <div class="award_box_content">
                <table cellspacing="2" cellpadding="0" class="tab-add" id="tab-color">
                  <tr>
                    <th align="left" width="35%">桌号</th>
                    <th align="left" width="15%">人数</th>
                    <th align="left" width="15%">是否包间</th>
                    <th align="left" width="15%">状态</th>
                    <th colspan="2">操作</th>
                  </tr>
                  {% for table in table_list %}
                  <tr>
                      <td align="left" class="color_a">{{ table.index_table  }}</td>
                      <td align="left" class="color_a">{{ table.seats }}</td>

                      {% if table.is_private  %}
                      <td align="left" class="color_a">是</td>
                      {% else %}
                      <td align="left" class="color_a">否</td>
                      {% endif %}

                      {% if table.status  %}
                      <td align="left" class="color_a">就餐</td>
                      {% else %}
                      <td align="left" class="color_a">未就餐</td>
                      {% endif %}

                    <td width="10%"><img src="/static/images/admin/edit.png" align="absmiddle">
                        <a href="{% url 'table_item_edit' %}?index_table={{ table.index_table }}" class="color_a" target="mainFrame">编辑</a>
                    </td>
                    <td width="10%"><img src="/static/images/admin/admin_05.png" align="absmiddle">
                        <a href="#" onclick="delete_item( '{{ table.index_table  }}' )" class="color_c" target="mainFrame">删除</a>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
            </div>
        </div>
    </section>
<script language="JavaScript">
var TbRow = document.getElementById("tab-color");
if (TbRow != null)
{
for (var i=0;i<TbRow.rows.length ;i++ )
{
if (TbRow.rows[i].rowIndex%2==1)
{
TbRow.rows[i].style.backgroundColor="#ffffff";
}
else
{
TbRow.rows[i].style.backgroundColor="#f7f7f4";
}
}
}

function delete_item(index){
    Showbo.Msg.confirm("确认删除？", function(val){
            if(val=="yes"){
                $.post("{% url 'table_action' %}", {'action':'delete', "table_num":index },
                    function(data){
                    if(data.state==0)
                        window.location.reload();
                    }, "json");
                }
                }
            );
    }

</script>
    
    
</article>

</body>
</html>
