<!doctype html>
{% extends 'base.html' %}

{% block left_frame %}
<div class="left-frame">
    <div class="left-f-title">设置</div>
    <div class="left-f-content">
        <ul id="menu">
            {% if is_admin %}
            <li><span class="menu-list"><img src="/static/images/admin/admin_01.png" align="absmiddle">管理员</span>
            <ul class="menu-undis">
                <li><span class="menu-l-s"><a href="{% url 'account_manage' %}" target="mainFrame">管理员管理</a></span> </li>
                <li><span class="menu-l-s"><a href="{% url 'change_password' %}" target="mainFrame">修改密码</a></span> </li>
                <li><span class="menu-l-s"><a href="{% url 'create_account' %}" target="mainFrame">新建管理员</a></span> </li>
            </ul>
            {% endif %}

            </li>
            <li><span class="menu-list"><img src="/static/images/admin/admin_02.png" align="absmiddle">修改密码</span>
            <ul class="menu-undis">
                <li><span class="menu-l-s"><a href="{% url 'change_password' %}" target="mainFrame">修改密码</a></span></li>
            </ul>
            </li>

            {% if is_admin %}
            <li><span class="menu-list"><img src="/static/images/admin/tit_hongbao.png" align="absmiddle">红包</span>
            <ul class="menu-undis">
                <li><span class="menu-l-s"><a href="{% url 'set_bonus_limit' %}" target="mainFrame">红包额度</a></span></li>
            </ul>
            </li>
            <li><span class="menu-list"><img src="/static/images/admin/admin_03.png" align="absmiddle">礼券额度</span>
            <ul class="menu-undis">
                <li><span class="menu-l-s"><a href="{% url 'set_coupon_limit' %}" target="mainFrame">礼券额度</a></span></li>
            </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{% block right_frame %}
<div class="right-frame">
    <div class="right-f-title">
        <b>当前位置：</b>店长权限
    </div>
    {% if is_admin %}
    <iframe id="mainFrame" name="mainFrame" src="{% url 'account_manage' %}"  frameborder="0" ></iframe>
    {% else %}
    <iframe id="mainFrame" name="mainFrame" src="{% url 'change_password' %}"  frameborder="0" ></iframe>
    {% endif %}
</div>
{% endblock %}
