<!doctype html>
<html>
{% include 'header.html' %}
<body>
<link href="/static/css/admin/showBo.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/showBo.js"></script>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="award_box_title">修改密码</div>
            <div class="award_box_content">
                <div class="modify_password">
                	<ul>
                    	<li>
                        	<h4>原密码</h4>
                            <span><input id="password" type="password" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>密码</h4>
                            <span><input id="new_password1" type="password" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>确认密码</h4>
                            <span><input id="new_password2" type="password" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>&nbsp;</h4>
                            <span>
                                <input id="save" type="button" class="admin_save" value="保存">
                            </span>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>    
</article>

<script>
 $("#save").click(function(){
    var password = $("#password").val();
    var new_password1 = $("#new_password1").val();
    var new_password2 = $("#new_password2").val();
    if( password!='' && new_password1!='' && new_password2!='' && new_password1==new_password2)
    {
        $.post("/manager/account/action", {"action":"modify_password", "password": password, "new_password":new_password1 },function(data){
            if(data.state==0)
                Showbo.Msg.alert("成功:" + data.message);
            else
                Showbo.Msg.alert("失败:" + data.message);
        }, "json");
    }
    else if(new_password1!=new_password2){
        Showbo.Msg.alert("两次输入的密码不一致!");
    }else{
        Showbo.Msg.alert("输入出错!");
    }

    
});
</script>


</body>
</html>
