<!doctype html>
<html>
{% include 'header.html' %}
<body>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="award_box_title">修改密码</div>
            <div class="award_box_content">
                <div class="modify_password">
                	<ul>
                    	<li>
                        	<h4>原密码</h4>
                            <span><input type="text" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>密码</h4>
                            <span><input type="text" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>确认密码</h4>
                            <span><input type="text" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>&nbsp;</h4>
                            <span>
                                <input type="button" class="admin_save" value="保存">
                            </span>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>    
</article>

</body>
</html>
