<!doctype html>
<html>
{% include "header.html" %}

<body>
<article>
    <section>
    	<div class="right_award_box">
        	<div class="award_box_title">创建红包</div>
            <div class="award_box_content">
                <div class="modify_password">
                	<ul>
                    	<li>
                        	<h4>类型</h4>
                            <span><input type="text" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>冠名</h4>
                            <span><input type="text" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>菜名</h4>
                            <span><input type="text" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>有效期</h4>
                            <span>
                            	<input id="date" type="date" name="date" class="datebk">至<input id="datetwo" type="date" name="date" class="datebk"> 
                            </span>
                        </li>
                        <li>
                        	<h4>个数</h4>
                            <span><input type="text" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>金额</h4>
                            <span><input type="text" class="admin_pass"></span>
                        </li>
                        <li>
                        	<h4>&nbsp;</h4>
                            <span>
                                <input type="button" class="admin_save" value="发送">
                                
                            </span>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>    
    
    
</article>

</body>
</html>
