{% load forum_tags i18n %}

        <div class="rows">

        {% for t in topics %}
			<div class="row">

                <div class="row-title" style="position: relative">
                    {% if t.is_pinned or t.is_globally_pinned %}
                        <i class="fa fa-thumb-tack"></i>
                    {% endif %}
                    {% if t.is_closed %}
                        <i class="fa fa-lock"></i>
                    {% endif %}

                    <img src="{{ t.user.jf.picture }}" style="width:35px;height:35px;border-radius: 50%;">&nbsp;&nbsp; <a class="row-link{% if t.is_visited %} is-visited{% endif %}" href="{{ t.get_bookmark_url }}">{{ t.user.jf.name }}</a>
                    <div style="float: right;width: 250px;position: absolute;right: 0;top:0;text-align: right;">
                        <div style="display: inline-block"><i class="fa fa-comment{% if t.has_new_comments %} js-comment-is-new{% endif %}"></i> {{ t.comment_count }}</div>
                        <div style="display: inline-block;" title="{{ t.last_active }}"><i class="fa fa-clock-o"></i> {{ t.last_active|shortnaturaltime }}</div>
                    </div>
                </div>
                <div class="row-info" style="text-align: left;margin-top: 10px">
                    <div>
                        <span>{{ t.comment.comment_html|safe }}</span><a href="{{ t.get_bookmark_url }}">查看全部</a>
                    </div>
                </div>

			</div>
        {% empty %}
            <p>{% trans "There are no topics here, yet" %}</p>
        {% endfor %}

		</div>

<script>
    $(document).ready(function() {
        // .is_new depends on js (bookmarks)
        $('.js-comment-is-new').addClass('is-new');
    });
</script>
