{% extends "forum/_base.html" %}

{% load forum_tags i18n %}

{% block title %}{% trans "Publish topic" %}{% endblock %}

{% block head-extra %}
    <script>

	$( document ).ready(function() {

		$( "textarea" ).store( "topic_publish_comment" );

	});

	</script>
{% endblock %}

{% block content %}

    <h1 class="headline">{% trans "Publish topic" %}</h1>

    <form action="." method="post" class="js-reply">
        {% csrf_token %}

        {# topic #}
        {% include "forum/_form.html" %}

        {# comment #}
        <div class="topic-publish-comment">
            {% include "forum/_form.html" with form=cform %}
        </div>

        <div class="container">
            {% include "forum/comment/_editor.html" %}

            <input class="button reply-button" type="submit" value="{% trans "Publish" %}" />
        </div>
    </form>
    <ul id="imageslistpanel">
    <div style="clear: both;"></div>
</ul>

{% endblock %}
